<h1>Comments#edit</h1>
<p>Find me in app/views/comments/edit.html.erb</p>

<%= form_with model: @comment do |form| %>
<%=form.text_field :content %>
<%=form.submit %>
<%end%>



### this is not right yet ###<br>
want to be able to edit any comment of session user only.<br>
####
