<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

#### THIS NEEDS EDIT STILL ###
<% @comments.each do |comment| %>
<ul>
  <li>Picture Title: <%=comment.picture.title%></li>
  <li>Username: <%= comment.user.username %></li>
  <li>Comment: <%= comment.content %></li>
</ul>
<%end%>
